/* You can add global styles to this file, and also import other style files */
body{
    background-color: #eff2f5 !important;
}
.border-non{
   border: none !important;
}
.background-grey{
    background-color: #eff2f5 !important;
 }
 .min-height-80{
    min-height: 80px;
 }
 .min-height-400{
    min-height: 400px;
 }
